<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Video-Transkription</title>
    </head>
    <body>
        <div>
            <h1>Video-Transkription</h1>
            {% block titletext %} {% endblock %}
        </div>
        <div>
            {% block interactive %} {% endblock %}
        </div>
        <div>
            {% block explenation %} {% endblock %}
        </div>    
    </body>
</html>
