<!-- Page where the client can correct the generated transcript.  -->
{% extends 'base.html' %}

{% block titletext %}
<!-- Individual page title of this page. -->
    <h2 id="titleSub">Transkript bearbeiten</h2> 
{% endblock %}
 
{% block interactive %}  
<!-- Form to correct the transcript and submit the correction. -->
    <form action="/corrected_transcript" method="post">
		<div class="mb-3">
			<label class="formTitle">Transkript für Video „{{ videoFileName }}“: </label>
			<textarea id="correctionTextArea" class="form-control" name="transcript" rows="{{ rows }}" spellcheck="true">{{ transcriptText }}</textarea>
		</div>
		<div class="mb-3">
			<input id="finishCorrectionBtn" class="btn" type="submit" value="Bearbeitung abschließen"></input>
		</div>
    </form>    
{% endblock %}

{% block explenation %} 
<!-- Explanatory text containing instructions on how to use this page.  -->
    <div>
        <p id="explanationText">
            Das Transkript für Video „{{ videoFileName }}“ wurde erstellt. Sie haben auf dieser Seite die Möglichkeit, Änderungen oder Korrekturen am Transkript vorzunehmen. 
            <br><br>
            Klicken Sie auf den „Bearbeitung abschließen“ Button, um die Bearbeitung fertigzustellen. 
            Sie werden anschließend zur Download-Seite weitergeleitet, wo Sie das Transkript herunterladen können.
        </p>
    </div>
{% endblock %}
