<!-- Page where the client can download the generated transcript as a PDF Document. -->
{% extends 'base.html' %}

{% block titletext %}
<!-- Individual page title of this page. -->
    <h2 id="titleSub">Transkript herunterladen.</h2> 
{% endblock %}
 
{% block interactive %} 
<!-- Form to download transcript as PDF Document and / or return to startpage. -->
    <div>
        <p id="downloadPageInteractiveSectionTitle">Transkript wurde erfolgreich erstellt.</p>
        <div id="downloadBtnContainer"> 
            <a class="btn" href="{{url_for('downloadPDF')}}">Transkript als PDF herunterladen</a>
        </div>
        <div id="toStartPageBtnContainer">
            <a class="btn" href="/">Zurück zur Startseite</a>
        </div>   
    </div>
{% endblock %}

{% block explenation %} 
<!-- Explanatory text containing instructions on how to use this page.  -->
    <div>
        <p id="explanationText">
            Ihr Transkript des Videos „{{ videoFileName }}“ steht zum Herunterladen bereit. <br> 
            Klicken Sie auf den Button „Transkript als PDF herunterladen“, um das Transkript herunterzuladen. <br><br>
            Durch Klicken des Buttons „Zurück zur Startseite“ gelangen Sie wieder zur Startseite
            und können weitere Transkripte anfertigen. <br><br>
            <span>Achtung: </span>Beim Verlassen dieser Seite wird das erstellte Transkript gelöscht. 
        </p> 
    </div>
{% endblock %}
