<!-- Page for upload of video file. Also, startpage of the application. -->
{% extends 'base.html' %}

{% block titletext %}
<!-- Individual page title of this page. -->
    <h2 id="titleSub">Video hochladen</h2>
{% endblock %}

{% block interactive %}
<!-- Form to select and upload a file.  -->
    <form action="/upload" method="post" enctype="multipart/form-data"> 
        <div class="mb-3">
            <label class="formTitle">Bitte ein MP4-Video hochladen, für das Sie ein Transkript erstellen möchten.</label>
            <input id="selectFileBtn" class="form-control" type="file" name="file"/> 
        </div>
        <div class="mb-3 ">
            <input id="uploadFileBtn" class="form-control" type="submit" value="Hochladen">
        </div>
        <div class="mb-3 ">
            <label id="uploadErrorText"></label>
        </div>
    </form>   
{% endblock %}

{% block explenation %} 
<!-- Explanatory text containing instructions on how to use this page.  -->
    <div>
        <p id="explanationText">
            1. Klicken Sie auf „Durchsuchen“, um eine Video-Datei auszuwählen. <br> 
            2. Klicken Sie auf „Hochladen“, um die Generierung des Transkriptes zu starten. <br>
            3. Warten Sie, bis das Transkript erstellt ist.
        </p>
    </div>   
{% endblock %}
